body {
  font-family: Playfair;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #333333;
  color : #CECECE;
  }

header {
  text-align: center;
  opacity: 0.6;
  transition: 0.5s;
  margin-bottom: 1.2rem;
  margin-top: 10vw;
  }

h1 {
  font-size: 50px;
}

header:hover {
  opacity: 1;
  font-size: 1.02rem;
  }

h3, h1 {
  margin: 0.2rem;
}

main {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  font-size: 1rem;
  }

.horizontal-line {
  display: block;
  position: relative;
  top: 27%;
  left: 50%;
  width: 0%;
  height: 2px;
  border-bottom: 2px solid #CECECE;
  animation: line 1.5s linear forwards;
}

@keyframes line {
  from {
    left: 50%;
    width: 0%;
  }
  to {
    left: 20%;
    width: 60%;
  }
}


a {
  color: #CECECE;
  opacity: 0.6;
  transition: 0.5s;
  }

a:hover {
  opacity: 1;
  font-size: 1.15rem;
  }

audio {
  margin: 0 auto;
  width: 8%;
  padding: 60px;
  background-color: #333333;
}


audio::-webkit-media-controls-current-time-display {display: none}
audio::-webkit-media-controls-panel {background-color: gray}
audio::-webkit-media-controls-timeline {display: none}
audio::-webkit-media-controls-timeline-container {display: none}
audio::-webkit-media-controls-volume-slider-mute-button {display: none}


