body {
  font-family: Monospace;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10%;
  background-color: #111;
  overflow: hidden;
  color : #CECECE;
  }

header {
  text-align: left;
  opacity: 0.6;
  transition: 0.5s;
  margin-bottom: 1.2rem;
  margin-top: 19vw;
  }

h1 {
  font-size: 75px;
}

h2 {
  font-family: sans-serif;
  font-weight: lighter;
  font-size: 15px;
  margin-bottom: 0px;
}

header:hover {
  opacity: 1;
  font-size: 1.02rem;
  }

h3, h1 {
  margin: 0.2rem;
}

.star {
  background: #888;
  border-radius: 50%;
  position: absolute;
}

main {
  display: inline-block;
  width: 50%;
  font-size: 1.3rem;
  }

.horizontal-line {
  display: block;
  position: relative;
  top: 27%;
  left: 20%;
  width: 0%;
  height: 2px;
  border-bottom: 2px solid #CECECE;
  animation: line 2s linear forwards;
}

@keyframes line {
  from {
    left: -20%;
    width: 0%;
  }
  to {
    left: 0%;
    width: 55%;
  }
}

a {
  color: #CECECE;
  opacity: 0.6;
  transition: 0.5s;
  }

a:hover {
  opacity: 1;
  font-size: 1.4rem;
  }

audio {
  margin-top: 40px;
  width: 8%;
}


audio::-webkit-media-controls-current-time-display {display: none}
audio::-webkit-media-controls-panel {background-color: gray}
audio::-webkit-media-controls-timeline {display: none}
audio::-webkit-media-controls-timeline-container {display: none}
audio::-webkit-media-controls-volume-slider-mute-button {display: none}

/* Phone capabilities */
@media (max-width: 576px) {
  h1 {
    font-size: 30px;
  }
}
